---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import yo from "../assets/yo.webp";
import Image from "astro/components/Image.astro";
import Gadget from "../components/Gadget.astro";
---

<Layout title="Welcome to Astro.">
  <header>
    <img alt="Eric Martinez Foto" src="src/assets/yo.webp" class="w-12" />
    <h1 class="text-white text-4xl">Hola, Soy Eric!</h1>
    <p>
      +15 años de experiencia. Ingeniero de Software y Creador de Contenido
      sobre Programación de Barcelona, España 🇪🇸. Especializado en el desarrollo
      de aplicaciones web únicas.
    </p>
    <Gadget />
  </header>
</Layout>
