<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#916e00] dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Eric Gabriel Martínez Labrin, y resido en Tampico, Tamaulipas,
      México. <strong
        >Inicié mi carrera en el desarrollo de software hace 5 años y comence
        con proyectos reales hace dos años</strong
      >, formándome a través de cursos en línea y la práctica constante en
      proyectos reales.
    </p><p>
      He desarrollado sistemas y aplicaciones para diversos clientes, destacando
      el sistema de administración de tarjetas de regalo para GMAC S.P.A. y la
      <strong
        >aplicación multiplataforma Reventas para Cuentas México, que reduce la
        intervención humana en un 60%</strong
      >.
    </p><p>
      Mi formación incluye cursos en <strong
        >Python, JavaScript, HTML y CSS</strong
      > en plataformas como Platzi, Udemy y MIDU.dev. Mis habilidades técnicas abarcan
      <strong
        >Django Rest Framework, Next.js, React Native, React y Tailwind, así
        como bases de datos como PostgreSQL y MySQL</strong
      >.
    </p>
    <p>
      Continúo perfeccionando mis habilidades para ofrecer soluciones eficientes
      y escalables. Hablo español nativo e inglés intermedio, lo que me permite
      colaborar efectivamente con una amplia gama de profesionales y clientes.
    </p>
  </div>
  <img
    alt="Eric Martinez Foto"
    src="/assets/yo.webp"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
