<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#916e00] dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Eric Gabriel Martínez Labrin, desarrollador de software con más de 4
      años de experiencia en proyectos reales. Resido en Tampico, Tamaulipas,
      México, y mi formación ha sido en gran parte autodidacta, complementada
      con cursos en línea y la práctica constante en proyectos de alto impacto.
    </p>
    <p>
      He desarrollado sistemas y aplicaciones para diversos clientes, destacando
      el sistema de administración de tarjetas de regalo para GMAC S.P.A. y la
      aplicación multiplataforma Reventas para Cuentas México, optimizando
      procesos y reduciendo la intervención humana en un 60%. Además, he
      participado en proyectos de alto nivel en realidad virtual y realidad
      aumentada, brindando mantenimiento a sus sitios web y gestionando
      servidores.
    </p>
    <p>
      Mi formación incluye cursos en <strong
        >Python, JavaScript, HTML y CSS</strong
      > en plataformas como Platzi, Udemy y MIDU.dev. Poseo experiencia en tecnologías
      como <strong
        >Django Rest Framework, Next.js, React Native, React y Tailwind</strong
      >, así como en bases de datos <strong>PostgreSQL y MySQL</strong>. También
      tengo conocimientos en infraestructura en la nube, destacando mi trabajo
      con <strong>AWS</strong> y servicios como S3, ALB, EC2 y RDS, entre otros.
    </p>

    <p>
      Siempre busco perfeccionar mis habilidades para desarrollar soluciones
      eficientes y escalables. Hablo español nativo e inglés intermedio, lo que
      me permite colaborar con profesionales y clientes de distintos ámbitos.
    </p>
  </div>
  <img
    alt="Eric Martinez Foto"
    src="/assets/yo.webp"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
