---
import ExperieneceItem from "./ExperieneceItem.astro";

const EXPERIENCIES = [
  {
    title: "Desarrollador FullStack",
    company: "Freelance",
    startDate: "2021",
    endDate: "Actualmente",
    description:
      "Sistema de administración de tarjetas de regalo para GMAC S.P.A.  Descripción Creación y mantenimiento de una plataforma que organiza, administra y valida códigos de regalo y datos de clientes, utilizando Python y Django para el backend y PostgreSQL para la base de datos. Este sistema ha mejorado significativamente la eficiencia operativa del cliente y ha permitido su expansión.",
  },
  {
    title: "Desarrollador FullStack",
    company: "Freelance",
    startDate: "2021",
    endDate: "Actualmente",
    description:
      "Sistema similar de administración para Cuentas México similar al anterior: Desarrollo y migración del backend a Django Rest Framework, base de datos a MySQL y el frontend a Next.js. Mejoras en la interfaz con Tailwind.",
  },
  {
    title: "Desarrollador FullStack",
    company: "Freelance",
    startDate: "2021",
    endDate: "Actualmente",
    description:
      "Aplicación multiplataforma Reventas para Cuentas México: Creación de una aplicación de ecommerce utilizando React Native, con integración directa al backend y Stripe para pagos.",
  },
];
---

<ol class="relative mt-16 lg:max-w-4xl md:max-w-2xl">
  {
    EXPERIENCIES.map((item) => {
      return (
        <li>
          <ExperieneceItem {...item} />
        </li>
      );
    })
  }
</ol>
