---
import Gadget from "./Gadget.astro";
import Pill from "./Pill.astro";
import MailIcon from "../icons/mail.astro";
import LinkedinIcon from "../icons/linkedIn.astro";
import AdobeIcon from "../icons/adobe.astro";
---

<div
  class="section scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <div id="home" class="flex items-center">
    <img alt="Eric Martinez Foto" src="src/assets/yo.webp" class="w-16" />
    <Gadget />
  </div>
  <h1 class="text-white text-5xl font-bold my-3">Hola, soy Eric!</h1>
  <p class="max-w-2xl text-xl my-3">
    +2 años de experiencia. <span class="text-yellow-300"
      >Desarrollador de software MultiPlataforma,
    </span> especializado es creacion de software para empresas y emprendedores.
  </p>
  <nav class="flex justify-between gap-x-1 max-w-lg">
    <Pill href="mailto:ericmartinezlabrin@gmail.com">
      <MailIcon class="hidden md:block lg:block size-4" /> Contactame
    </Pill>
    <Pill href="https://mx.linkedin.com/in/ericmartinezlabrin">
      <LinkedinIcon class="hidden md:block lg:block size-4" />
      LinkedIn
    </Pill>
    <Pill href="https://mx.linkedin.com/in/ericmartinezlabrin">
      <AdobeIcon class="hidden md:block lg:block size-4" />
      Descargar
    </Pill>
  </nav>
</div>
