---
import ThemeIcon from "./ThemeIcon.astro";
---

<nav class="w-full mt-16 mb-8 flex justify-center">
  <ul class="flex gap-4 md:max-w-2xl lg:max-w-4xl text-sm">
    <li><a href="#home" class="hover:underline">Inicio</a></li>
    <li><a href="#experience" class="hover:underline">Experiencia</a></li>
    <li><a href="#projects" class="hover:underline">Proyectos</a></li>
    <li><a href="#sobre-mi" class="hover:underline">Sobre mí</a></li>
    <li>
      <a href="mailto:ericmartinezlabrin@gmail.com" class="hover:underline"
        >Contacto</a
      >
    </li>
  </ul>
</nav>
