---
import ProjectItem from "./ProjectItem.astro";
import NextJS from "../icons/nextjs.astro";
import Tailwind from "../icons/tailwind.astro";
import Bootstrap from "../icons/bootstrap.astro";
import Django from "../icons/django.astro";
import PostgreSQL from "../icons/postgres.astro";
import Railway from "../icons/railway.astro";
import JS from "../icons/js.astro";
import MySQL from "../icons/mysql.astro";
import ReactNative from "../icons/react-native.astro";
import AstroIcon from "../icons/astroIcon.astro";
import AWSIcon from "../icons/aws.astro";
import RailsIcon from "../icons/rails.astro";
import MetamapIcon from "../icons/metamap.astro";
import StripeIcon from "../icons/stripe.astro";
import PostmanIcon from "../icons/postman.astro";
import ReactIcon from "../icons/react.astro";
import NestJSIcon from "../icons/nest.astro";
import DigitalOceanIcon from "../icons/digital-ocean.astro";
import CloudflareIcon from "../icons/cloudflare.astro";
import WXTIcon from "../icons/wxt.astro";
import OllamaIcon from "../icons/ollama.astro";
import DeepgramIcon from "../icons/deepgram.astro";
import Chatgpt from "../icons/chatgpt.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white dark:bg-white dark:text-black",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white dark:bg-[#38BDF8] dark:text-black",
    icon: Tailwind,
  },
  DJANGO: {
    name: "Django",
    class: "bg-[#092E20] text-white dark:bg-[#44B78B] dark:text-black",
    icon: Django,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#336791] text-white dark:bg-[#336791] dark:text-black",
    icon: PostgreSQL,
  },
  RAILWAY: {
    name: "Railway",
    class: "bg-[#F54748] text-white dark:bg-[#F54748] dark:text-black",
    icon: Railway,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#F0DB4F] text-[#333333] dark:bg-[#F0DB4F] dark:text-black",
    icon: JS,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#E0E0E0] text-[#7E13F8] dark:bg-[#7E13F8] dark:text-white",
    icon: Bootstrap,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#4479A1] text-white dark:bg-[#4479A1] dark:text-black",
    icon: MySQL,
  },
  DRF: {
    name: "Django Rest Framework",
    class: "bg-[#092E20] text-white dark:bg-[#44B78B] dark:text-black",
    icon: Django,
  },
  REACTNATIVE: {
    name: "React Native",
    class: "bg-[#002B36] text-black dark:bg-[#61DAFB] dark:text-black",
    icon: ReactNative,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#0D1117] text-white dark:bg-[#FF5A03] dark:text-black",
    icon: AstroIcon,
  },
  RUBY: {
    name: "Ruby on Rails",
    class: "bg-[#CC342D] text-white dark:bg-[#CC342D] dark:text-black",
    icon: RailsIcon,
  },
  AWS: {
    name: "Amazon Web Services",
    class: "bg-[#232F3E] text-white dark:bg-[#FF9900] dark:text-black",
    icon: AWSIcon,
  },
  METAMAP: {
    name: "MetaMap",
    class: "bg-[#F54748] text-white dark:bg-[#F54748] dark:text-black",
    icon: MetamapIcon,
  },
  STRIPE: {
    name: "Stripe",
    class: "bg-[#0d0d0d] text-[#6772E5] dark:bg-[#6772E5] dark:text-black",
    icon: StripeIcon,
  },
  POSTMAN: {
    name: "Postman",
    class: "bg-[#FF6C37] text-white dark:bg-[#FF6C37] dark:text-black",
    icon: PostmanIcon,
  },
  REACT: {
    name: "React",
    class: "bg-[#20232A] text-[#61DAFB] dark:bg-[#61DAFB] dark:text-black",
    icon: ReactIcon,
  },
  NESTJS: {
    name: "NestJS",
    class: "bg-[#434343] text-[#E0234E] dark:bg-[#E0234E] dark:text-[#e4e4e4]",
    icon: NestJSIcon,
  },
  DIGITALOCEAN: {
    name: "Digital Ocean",
    class: "bg-[#434343] text-[#0069FF] dark:bg-[#0069FF] dark:text-black",
    icon: DigitalOceanIcon,
  },
  CLOUDFLARE: {
    name: "Cloudflare",
    class: "bg-[#434343] text-[#F38020] dark:bg-[#F38020] dark:text-black",
    icon: CloudflareIcon,
  },
  WXT: {
    name: "WXT",
    class: "bg-[#004225] text-[#67d55e] dark:bg-[#67d55e] dark:text-black",
    icon: WXTIcon,
  },
  OLLAMA: {
    name: "Ollama",
    class: "bg-[#1F1F1F] text-[#FFF] dark:bg-[#FFF] dark:text-black",
    icon: OllamaIcon,
  },
  DEEPGRAM: {
    name: "Deepgram",
    class: "bg-[#1F1F1F] text-[#FFF] dark:bg-[#FFF] dark:text-black",
    icon: DeepgramIcon,
  },
  OPENAI: {
    name: "OpenAI",
    class: "bg-[#10a37f] text-white dark:bg-[#10a37f] dark:text-black",
    icon: Chatgpt,
  },
};

const projectsData = [
  {
    title: "Mejora CV",
    description:
      "Capa gratuita de web diseñada para realizar recomendaciones en tu Curriculum Vitae, esta utiliza IA para analizar el CV y dar recomendaciones personalizadas sobre mejoras a realizar para pasar los filtros de los reclutadores como los software ATS.",
    image: "/assets/mejoracv-web.webp",
    link: "https://mejoracv.fadetechs.com",
    tags: [TAGS.AWS, TAGS.NESTJS, TAGS.NEXT, TAGS.OPENAI, TAGS.MYSQL],
  },
  {
    title: "Drivana Backend",
    description:
      "Backend de Drivana, una Web / Aplicación peer to peer de renta de carros. Creado desde cero con Ruby on Rails, PostgreSQL y AWS. Permite a los usuarios registrarse, subir sus carros, rentar carros, pagar con Stripe y calificar a otros usuarios. Al ser de un cliente, no puedo mostrar código fuente ni dar claves de acceso.",
    image: "/assets/drivana-api.webp",
    link: "https://drivana.mx",
    tags: [
      TAGS.AWS,
      TAGS.RUBY,
      TAGS.METAMAP,
      TAGS.STRIPE,
      TAGS.POSTMAN,
      TAGS.POSTGRESQL,
    ],
  },
  {
    title: "Akrotonx",
    description:
      "Mantenimiento, correccion de errores y creación de nuevas funcionalidades para la web de Akrotonx. Creado con React, NestJs, PostgreSQL y Digital Ocean. Permite a los usuarios recorrer instalaciones como casas, departamentos, oficinas, etc. Usando un sistema de fotografías 360 y VR. Al ser de un cliente, no puedo mostrar código fuente ni dar claves de acceso.",
    image: "/assets/akrotonx.webp",
    link: "https://workshop.akrotonx.com",
    tags: [
      TAGS.REACT,
      TAGS.NESTJS,
      TAGS.DIGITALOCEAN,
      TAGS.POSTGRESQL,
      TAGS.POSTMAN,
      TAGS.CLOUDFLARE,
    ],
  },
  {
    title: "Ai Meetings - By Fyware",
    description:
      "Creación desde cero de Extension de Chrome/Firefox para la empresa Fyware. Creado con WXT, React, NextJs, NestJs y Mysql. Permite a los usuarios grabar reuniones, transcribirlas, traducirlas y resumirlas, cuenta con integración a HubSpot realizando la creacion de contactos y guardando cada resumen en el. Utiliza IA de Ollama y Deepgram. Al ser de un cliente, no puedo mostrar código fuente ni dar claves de acceso.",
    image: "/assets/ai-meetings.webp",
    tags: [
      TAGS.REACT,
      TAGS.NESTJS,
      TAGS.NEXT,
      TAGS.MYSQL,
      TAGS.WXT,
      TAGS.OLLAMA,
      TAGS.DEEPGRAM,
    ],
  },
  {
    title: "BD PyC",
    description:
      "Administrador de códigos de regalo, servicios digitales y clientes. Creado desde cero con Django, Bootstrap, PostgreSQL y JS. Alojado en Railway. Gestiona más de 2 millones de códigos de regalo, permitió la expansión de la empresa y mejoro su eficiencia en más de un 50%. Al ser de un cliente, no puedo mostrar código fuente ni dar claves de acceso.",
    image: "/assets/bdpyc.webp",
    link: "https://www.bdpyc.cl",
    tags: [TAGS.DJANGO, TAGS.POSTGRESQL, TAGS.RAILWAY, TAGS.JS, TAGS.BOOTSTRAP],
  },
  {
    title: "Cuentas México",
    description:
      "Administrador de servicios digitales y clientes. Creado desde cero con Django, Bootstrap, MySQL y JS. Alojado en Railway. Gestiona más de 30000 servicios digitales, redujo en mas de un 90% los errores de registro y mejoro su eficiencia en más de un 50%. Actualment me encuentro migrandolo a NextJs, DRF y Tailwind. Al ser de un cliente, no puedo mostrar código fuente ni dar claves de acceso.",
    image: "/assets/cuentasmex.webp",
    link: "https://www.cuentasmexico.mx/adm",
    tags: [
      TAGS.DJANGO,
      TAGS.RAILWAY,
      TAGS.JS,
      TAGS.BOOTSTRAP,
      TAGS.MYSQL,
      TAGS.NEXT,
      TAGS.TAILWIND,
      TAGS.DRF,
    ],
  },
  {
    title: "Reventas",
    description:
      "Aplicación multiplataforma para la compra de productos digitales, integrada con el backend de DRF de Cuentas México y Stripe. Disminuye el tiempo que tarda un cliente en realizar una compra un 60%. Creada desde cero con React Native, Django Rest Framework, Stripe y MySQL. Al ser de un cliente, no puedo mostrar código fuente ni dar claves de acceso.",
    image: "/assets/reventas.webp",
    link: "https://reventas.cuentasmexico.mx",
    tags: [TAGS.DRF, TAGS.JS, TAGS.MYSQL, TAGS.REACTNATIVE],
  },
];
---

<div>
  {projectsData.map((project) => <ProjectItem {...project} />)}
</div>
