---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Desarrollador MultiPlataforma" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-slate-400 text-red-600 p-10 dark:bg-slate-900 dark:text-blue-400"
  >
    <slot />
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    min-height: 100vh; /* Asegura que el body tome al menos el 100% de la altura de la ventana gráfica */
    width: 100%;
    margin: 0; /* Elimina los márgenes por defecto */
    padding: 0; /* Elimina el padding por defecto */
  }

  body {
    /* Tus estilos existentes */
    display: flex;
    flex-direction: column;
  }

  @font-face {
    font-family: "onest";
    src: url("/src/assets/fonts/Onest[wght].ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
</style>
